@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$blue_strip_background:#CCE4FA;
$blue_strip_Color: #1D4FFF;
$blue_strip_Font: 'Archivo', sans-serif;


.blue_strip{
    width: 100%;
    height: 60px;
    background-color: $blue_strip_background;
    color: $blue_strip_Color;
    font-family: $blue_strip_Font;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue_strip h3{
    font-weight: 400;
    
}